<li>
	{{name}}

	<button class="change-slap" data-id="{{id}}" data-newslap="{{slap}}">
		{{#if slap}}DANK TIME!{{else}}WAKE UP....YOUR FOOD IS GETTING COLD!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
 